/* Select */

.lh-mp-ctnr form {
    padding-left: 43pt;
}

.lh-mp-ctnr .select-wrapper {
    position: relative;
    /* width: 200px; */
}

.lh-mp-ctnr .select-wrapper::before {
    color: #000;
    font-size: 20px;
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 10px;
}

.lh-mp-ctnr select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,.3);
    color: #000;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 40px;
    outline: none;
    padding-left: 10px;
    width: 100%;
}

.lh-mp-ctnr select option {
    color: #666;
}

.lh-mp-ctnr select::-ms-expand {
    display: none;
}

.lh-mp-ctnr select:focus::-ms-value {
    background-color: transparent;
}

/* Loading */

.lh-mp-ctnr #loading {
    position: absolute;
    background: rgba(0, 0, 0, 0.534);
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
.lh-mp-ctnr .inner-circle {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-width: 5;
    stroke-dasharray: 150;
    stroke-dashoffset: 50;
}
.lh-mp-ctnr .spinner {
    position: relative;
    top: 40%;
    -webkit-animation:lh-mp-ctnr-spin 1s linear infinite;
    -moz-animation:lh-mp-ctnr-spin 1s linear infinite;
    animation:lh-mp-ctnr-spin 1s linear infinite;
}
@-moz-keyframes lh-mp-ctnr-spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes lh-mp-ctnr-spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes lh-mp-ctnr-spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
